@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 231, 15%, 18%; /* hsl(231, 15%, 18%) */
    --foreground: 0 0% 90%; /* hsl(0, 0%, 90%) */

    --card: 231, 15%, 25%; /* hsl(231, 15%, 25%) */
    --card-foreground: 0 0% 95%; /* hsl(0, 0%, 95%) */

    --popover: 231, 15%, 25%; /* hsl(231, 15%, 25%) */
    --popover-foreground: 0 0% 100%; /* hsl(0, 0%, 100%) */

    --primary: 265 70% 58%; /* hsl(265 70% 58%) */
    --primary-foreground: 0 0% 100%; /* hsl(0, 0%, 100%) */

    --secondary: 326 100% 74%; /* hsl(326 100% 74%) */
    --secondary-foreground: 0 0% 100%; /* hsl(0, 0%, 100%) */

    --muted: 265 55% 69%; /* hsl(265 55% 69%) */
    --muted-foreground: 0 0% 100%; /* hsl(0, 0%, 100%) */

    --accent: 31 100% 71%; /* hsl(265 100% 71%) */
    --accent-foreground: 0 0% 100%; /* hsl(0, 0%, 100%) */

    --destructive: 0 84.2% 60.2%; /* hsl(0 84.2% 60.2%) */
    --destructive-foreground: 210 40% 98%; /* hsl(210 40% 98%) */

    --border: 214.3 31.8% 91.4%; /* hsl(214.3 31.8% 91.4%) */
    --input: 214.3 31.8% 91.4%; /* hsl(214.3 31.8% 91.4%) */
    --ring: 222.2 84% 4.9%; /* hsl(222.2 84% 4.9%) */

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
